# OpenAI API Configuration
OPENAI_API_KEY=your_api_key_here
OPENAI_CHAT_MODEL=gpt-4o-mini
OPENAI_EMBED_MODEL=text-embedding-3-small
OPENAI_VISION_MODEL=gpt-4o-mini

# Vector Store Configuration
VECTOR_STORE=faiss

# PDF Processing
PDF_PATH=rag-challenge.pdf
SAVE_EXTRACTED_TEXT=true
SAVE_EXTRACTED_IMAGES=true
SAVE_PAGE_VISION=true
SAVE_PAGE_OCR=true
OCR_LANG=eng
TESSERACT_CMD=C:\Program Files\Tesseract-OCR\tesseract.exe

# Chunking Configuration
CHUNK_SIZE=700
CHUNK_OVERLAP=150
TOP_K=5

